<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang chi tiết sản phẩm</h1>
    <p>Sử dụng Bootstrap</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="carousel slide" data-bs-ride="carousel" id="carouselExample">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="square-image">
                <img src="https://cdn1.fahasa.com/media/flashmagazine/images/page_images/__ryoko_kui_rakugaki_doodles_book_day_dream_hour_harta_comix/2024_05_28_08_59_14_8-390x510.jpg" class="product-image" alt="Product Image">
              </div>
            </div>
            <div class="carousel-item active">
                <div class="square-image">
                  <img src="https://cdn1.fahasa.com/media/flashmagazine/images/page_images/__ryoko_kui_rakugaki_doodles_book_day_dream_hour_harta_comix/2024_05_28_08_59_14_8-390x510.jpg" class="product-image" alt="Product Image">
                </div>
              </div>
          
        </div>
        <button class="carousel-control-prev" data-bs-slide="prev"
          data-bs-target="#carouselExample" type="button"
        >
          <span aria-hidden="true" class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-bs-slide="next"
          data-bs-target="#carouselExample" type="button"
        >
          <span aria-hidden="true" class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row">
        <div class="thumbnail-container">
            <div class="thumbnail-item">
              <img src="https://cdn1.fahasa.com/media/catalog/product/9/7/9784047376465.jpg" class="thumbnail-image" alt="Thumbnail Image">
            </div>
            <div class="thumbnail-item">
                <img src="https://cdn1.fahasa.com/media/catalog/product/9/7/9784047376465.jpg" class="thumbnail-image" alt="Thumbnail Image">
              </div>
              <div class="thumbnail-item">
                <img src="https://cdn1.fahasa.com/media/catalog/product/9/7/9784047376465.jpg" class="thumbnail-image" alt="Thumbnail Image">
              </div>
              <div class="thumbnail-item">
                <img src="https://cdn1.fahasa.com/media/catalog/product/9/7/9784047376465.jpg" class="thumbnail-image" alt="Thumbnail Image">
              </div>
              <div class="thumbnail-item">
                <img src="https://cdn1.fahasa.com/media/catalog/product/9/7/9784047376465.jpg" class="thumbnail-image" alt="Thumbnail Image">
              </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details">
        <h2>Name Product</h2>
        <p>Description: Lorem ipsum dolor sit amet consectetur.</p>
        <p>Giá: 12.987.xxx VND</p>
        <p>Tổng tiền:</p>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <button class="btn btn-success">Mua ngay</button>
        </div>
        <div class="product-quantity">
          <div class="border-wrapper">
            <button >-</button>
            <input type="text">
            <button >+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


