<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h3>HÃY ĐIỀN THÔNG TIN CHI TIẾT, KIỂM TRA KỸ THÔNG TIN TRƯỚC KHI ĐẶT HÀNG</h3>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active"><a href="#">View Detail Order</a></li>
    </ol>
  </nav>
  <form [formGroup]="orderForm">
    <div class="row">
      <div class="col-md-5" style="background-color: cadetblue; border-radius: 10px">
        <h2 class="product-header">Thông tin người nhận</h2>
        <div class="mb-3">
          <label class="form-label" for="fullname">Họ và tên</label>
          <input [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched"
            class="form-control" formControlName="fullname" id="fullname" type="text">
          @if (orderForm.get('fullname')!.invalid &&
          orderForm.get('fullname')!.touched) {
          <div class="invalid-feedback">
            Họ và tên là trường bắt buộc.
          </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched"
            class="form-control" formControlName="email" id="email" type="text">
          @if (orderForm.get('email')!.invalid
          && orderForm.get('email')!.touched) {
          <div class="invalid-feedback">
            {{ orderForm.get('email')!.hasError('email') ? 'Email không hợp lệ' : 'Email là trường bắt buộc' }}
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="phone">Số điện thoại</label>
          <input [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched"
            class="form-control" formControlName="phone_number" id="phone" placeholder="Số điện thoại" required
            type="text">
          @if (orderForm.get('phone_number')!.invalid
          && orderForm.get('phone_number')!.touched) {
          <div class="invalid-feedback">
            Số điện thoại là trường bắt buộc và ít nhất 6 ký tự.
          </div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label" for="address">Địa chỉ</label>
          <input class="form-control" formControlName="address" id="address" placeholder="Địa chỉ" required
            type="text" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="note">Ghi chú</label>
          <input class="form-control" placeholder="Ghi chú" required type="text" />
        </div>
        <div class="mb-3">
          <label for="shippingMethod">Phương thức vận chuyển</label>
          <select class="form-control" id="shippingMethod">
            <option value="express"> Giao Cấp Tốc/ Nhanh (Express)</option>
            <option value="normal">Thường (Normal)</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="paymentMethod">Phương thức thanh toán</label>
          <select class="form-control" formControlName="payment_method" id="paymentMethod">
            <option value="cod">Thanh toán khi nhận hàng (COD)</option>
            <option value="other">Thanh toán khác</option>
          </select>
        </div>
        <!-- </form> -->
      </div>
      <div class="col-md-7">
        <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
        <table>
          <thead>
            <tr style="color: white">
              <th scope="col" class="text-start">Sản phẩm</th>
              <th scope="col" class="text-start">Số lượng</th>
              <th scope="col" class="text-start">Đơn giá</th>
              <th scope="col" class="text-start">Tổng giá</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of cartItems; let i = index">
              <tr style="color: white">
                <td>
                  <div class="product-info">
                    <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                    <span class="product-name">{{ item.product.name }}</span>
                  </div>
                </td>
                <td>
                  <div class="product-quantity">
                    <div class="border-wrapper">
                      <button (click)="decreaseQuantity(i)">-</button>
                      {{ item.quantity }}
                      <button (click)="increaseQuantity(i)">+</button>
                    </div>
                  </div>
                </td>
                <td>{{ item.product.price | number:'1.3-3' }}</td>
                <td>{{ (item.product.price * item.quantity) | number:'1.3-3' }}</td>
                <td>
                  <button (click)="confirmDelete(i)" class="btn btn-danger">
                    Xóa
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>

        </table>
        <div class="text-start mt-3">
          <h4 class="header-text text-end">Tổng giá: {{totalAmount}} đ</h4>
        </div>
        <div class="mt-3">
          <h4 class="product-header">Nhập coupon</h4>
          <div class="input-group">
            <input class="form-control" formControlName="couponCode" placeholder="Nhập coupon" type="text" />
            <button class="btn btn-gradient" type="button">Áp dụng</button>
          </div>
        </div>

        <div class="text-start mt-3">
          <button class="btn btn-gradient" (click)="placeOrder()" type="button">Đặt hàng</button>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>