table {
  width: 100%;
  border-radius: 10px;
  border-collapse: separate;
  border: 1px solid wheat;
  border-spacing: 0;
  background-color: rgb(12, 13, 52);
}
th,
td {
  padding: 10px;
  text-align: center;
}
.intro-section {
  text-align: center;
}
.product-info {
  display: flex;
  align-items: center;
  .product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
  }
  .product-name {
    margin-right: 10px;
  }
}
.btn-gradient {
  background: linear-gradient(to right, rgb(63, 225, 211), rgb(43, 237, 137));
  color: black;
  border-radius: 20px;
  font-weight: 700;
  width: 200px;
}
