<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, suscipit?
    </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
  </div>
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Find something that you want"
      id=""
    />
    <select class="form-control product-category">
      <option selected disabled>Selected items</option>
      <option>Electrics</option>
      <option>Laptop/PC</option>
      <option>Smartphone/Tablet</option>
      <option>Gaming gear</option>
    </select>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://cdn1.fahasa.com/media/catalog/product/9/7/9784065371329.jpg"
          alt=""
          class="product-iamge"
        />
        <h3 class="product-name">甘神さんちの縁結び 17</h3>
        <p class="product-description">
          Amagami-san Chi No Enmusubi 17 - Tying The Knot With An Amagami Sister
        </p>
        <p class="product-warranty">Nhà xuất bản:Kodansha</p>
        <p class="product-price">Price: <del>120.000VND</del> 86.999VND</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Add to cart</button>
          <button class="btn btn-success">Buy now</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://cdn1.fahasa.com/media/flashmagazine/images/page_images/_5___watashi_no_shiawase_na_kekkon___my_happy_marriage/2024_03_21_13_46_08_1-390x510.jpg?_gl=1*1jozj4g*_ga*NDAyODE5MzMuMTc0NTY4MTg1MQ..*_ga_D3YYPWQ9LN*MTc0NTY4MTg1MC4xLjEuMTc0NTY4MzM1Mi4wLjAuMA..*_gcl_au*MTA4NTc5NzgyLjE3NDU2ODE4NTE.*_ga_460L9JMC2G*MTc0NTY4MTg1MC4xLjEuMTc0NTY4MzM1NC4zOC4wLjEzNDM0NzQwMDQ."
          alt=""
          class="product-iamge"
        />
        <h3 class="product-name">わたしの幸せな結婚 5</h3>
        <p class="product-description">
          Watashi No Shiawase Na Kekkon - My Happy Marriage
        </p>
        <p class="product-warranty">Nhà xuất bản: Kadokawa</p>
        <p class="product-price">Price: <del>120.000VND</del> 86.999VND</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Add to cart</button>
          <button class="btn btn-success">Buy now</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://cdn1.fahasa.com/media/flashmagazine/images/page_images/___bocchi_the_rock_anthology_comic_5/2025_04_21_16_55_22_1-390x510.jpg?_gl=1*1a6otjf*_ga*NDAyODE5MzMuMTc0NTY4MTg1MQ..*_ga_D3YYPWQ9LN*MTc0NTY4MTg1MC4xLjEuMTc0NTY4MzI2Mi4wLjAuMA..*_gcl_au*MTA4NTc5NzgyLjE3NDU2ODE4NTE.*_ga_460L9JMC2G*MTc0NTY4MTg1MC4xLjEuMTc0NTY4MzI2My40MS4wLjEzNDM0NzQwMDQ."
          alt=""
          class="product-iamge"
        />
        <h3 class="product-name">ぼっち・ざ・ろっく！アンソロジーコミック</h3>
        <p class="product-description">Bocchi The Rock Anthology Comic 5</p>
        <p class="product-warranty">Nhà xuất bản: Kinokuniya Book Stores</p>
        <p class="product-price">Price: <del>120.000VND</del> 86.999VND</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Add to cart</button>
          <button class="btn btn-success">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
